<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="./javascripts/web3.js"></script>
    <script src="./javascripts/transmitAccount.js"></script>
    <script>
        $(( async function() {
            let web3Provider;

            if (typeof window.web3 !== 'undefined') {
                // if metamask is on, web3 is injected...
                web3Provider = window.web3.currentProvider
            } else {
                // otherwise, use truffle network...
                web3Provider = new Web3.providers.HttpProvider('http://localhost:7545')
            }

            console.log("web3Provider", web3Provider) // MetamaskInpageProvider

            let web3 = new Web3(web3Provider) // {givenProvider: MetamaskInpageProvider .. }


            await web3.eth.getAccounts(function(error, accounts) {
                document.getElementById("currAccount").innerHTML = "Logged in with: " + accounts[0];
                document.getElementById("myHiddenAccount").value = accounts[0];
            })
        }));
    </script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <!--Might want to add container here to limit width of navbar.-->
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="/">
            CryptoWill.
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarResponsive">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="/createWill" class="nav-link">Services</a>
            </li>
            <li class="nav-item ">
                <a href="/myWill" class="nav-link">My Will</a>
            </li>
            <li class="nav-item ">
                <a href="/witness" class="nav-link">For Witnesses</a>
            </li>
            <li class="nav-item ">
                <a href="/contact" class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <!--    This is where the other views are entered-->
    {{{ body }}}
</div>

<footer class="fixed-bottom">
    <div class="container-fluid bg-light border-top">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <!--   Here I want to get the current account from metamask-->
                <p id="currAccount"></p>
                <input type="hidden" id="myHiddenAccount">
            </div>
        </div>
    </div>
</footer>
</body>
</html>
