<h2>{{ title }}</h2>

<div class="container">
    <img src="./images/stockphoto_film.jpeg" class="img-rounded" alt="Film">
</div>

<div class="container">
    <p>Crowdfunding for a generic, exchangeable superhero/action film.</p>
</div>

<div class="container">
    <p>Funding goal: {{ goal }} ETH</p>
</div>

<div class="container form-group">
    <button type="button" class="btn btn-outline-dark" onclick="location.href = './investor';">Investor Info
    </button>
</div>
<div class="container form-group">
    <button type="button" class="btn btn-outline-dark" onclick="location.href = './owner';">Beneficiary Info
    </button>
</div>
