<div class="border-bottom">
    <div class="container-fluid">
            <div class="col-md-6 offset-md-3">
                    <div class="center-screen">
                            <h1 class="cover-heading">Store your last will on the blockchain</h1>
                            <p class="lead">CryptoWill is the next generation testimony service powered by blockchain technology.</p>
                            <p>
                               <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
                            </p>
                    </div>
            </div>
    </div>
</div>