<div class="h-100 container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row h-50">
                <div class="col-md-6" id="willInformation">
                    <p> Information about your last will.</p>
                </div>
                <div class="col-md-6" id="willUtilities">
                    <div class="row">
                        <form action="/verifyWill" method="post">
                            <div class="form-group">
                                <input type="submit" value="Verify will" class="btn btn-outline-dark">
                            </div>
                        </form>
                        <div class="col-md-4 offset-md-2">
                            <button onclick="loadWitness()" class="btn btn-outline-dark">Refresh information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>