<div class="border-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <h3>For witnesses to a last will contract</h3>
                        <p> Information about the last will you are witness to.</p>
                        <div>
                            {{#if isWitness}}
                            <div class="row">
                                <h4>This account is a witness to the following last will</h4>
                            </div>
                            <div>
                            <!-- Replace all <p> with stuff from the contract -->
                                <p>Name</p>
                            </div>
                            <div>
                                <p>Address</p>
                            </div>
                            <div>
                                <p>{{email}}</p>
                            </div>
                            <div>
                                <p>{{benAccs}}</p>
                            </div>
                            <div>
                                <p>{{verifier}}</p>
                            </div>
                            <div>
                                <p>Verifiers address</p>
                            </div>
                             <div class="row">
                                 <!-- Add function to onCLick -->
                                <button onclick="location.href = './createWill'" class="btn btn-outline-dark"> This person is dead</button>
                                <button onclick="location.href = './createWill'" class="btn btn-outline-dark"> Confirm this will</button>
                            </div>
                            {{else}}
                            <div class="row">
                                <h4>This account is currently not set as a witness</h4>
                            </div>
                            {{/if}}
                        </div>
                        <!--Some content here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>