
    <div class="col-md-6 offset-md-3">
        <div class="about">  
            <div class = "about-header">
                <h3>Information for witness</h3>
                <p> here you have all information you need as a witness</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>You can see the last will you are a witness to here</p>
                    <button onclick="loadWitness()" class="btn btn-outline-dark">
                        Show CryptoWill
                    </button>
                </div>
                <div class="col-md-4">
                        <p>After reading through the will you can varify it here</p>
                    <button onclick="verifyWill()" class="btn btn-outline-dark">
                        Verify will
                    </button>
                </div>
                <div class="col-md-4">
                    <p>If the holder of this will pased you can confirm it here</p>
                    <button onclick="confirmDeath()" class="btn btn-outline-dark">
                        Confirm death
                    </button>
                </div>
            </div>
            <div id ="willInformation" class = "create-will-padding" >
            </div>
        </div>
    </div>